<ng-container [ngSwitch]="type">

  <input type="text" [formControl]="valueControl" *ngSwitchCase="dataType.TEXT"/>

  <input type="number" [formControl]="valueControl" *ngSwitchCase="dataType.NUMBER"/>

  <ejs-dropdownlist
    #dropDownComponent
    [dataSource]="booleanDataSource"
    [formControl]="valueControl"
    *ngSwitchCase="dataType.BOOLEAN"
  ></ejs-dropdownlist>

  <ejs-dropdownlist
    *ngSwitchCase="dataType.DROPDOWN"
    #dropDownComponent
    [dataSource]="dropdownDataSource"
    name="defaultDropdownValue"
    [formControl]="valueControl"
  ></ejs-dropdownlist>

  <ejs-datepicker
    *ngSwitchCase="dataType.DATE"
    id="datepicker"
    [formControl]="valueControl"
    floatLabelType='Always'
  ></ejs-datepicker>

</ng-container>
