<div class="control-section">
    <section #container>
        <ejs-treegrid
            #treegrid
            [dataSource]='data'
            childMapping='subtasks'
            height='90vh'
            allowSelection="true"
            [treeColumnIndex]='1'
            [pageSettings]='pageSettings'
            [editSettings]='editSettings'
            (actionBegin)="actionBegin($event)"
            (actionComplete)="actionComplete($event)"
            [selectionSettings]='selectionOptions'
            [contextMenuItems]='contextMenuItems'
            (contextMenuClick)="contextMenuClick($event)"
        >
            <e-columns>
                <e-column
                    type='checkbox'
                    width='50'
                ></e-column>
                <e-column
                    field='taskID'
                    headerText='Task ID'
                    width='120'
                    textAlign='Right'
                    isPrimaryKey='true'
                ></e-column>
                <e-column
                    field='taskName'
                    headerText='Task Name'
                    width='225'
                ></e-column>
                <e-column
                    field='startDate'
                    headerText='Start Date'
                    width='150'
                    format="yMd"
                ></e-column>
                <e-column
                    field='duration'
                    headerText='Duration'
                    width='90'
                    textAlign='Right'
                ></e-column>
                <e-column
                    field='progress'
                    headerText='Progress'
                    width='90'
                    textAlign='Right'
                ></e-column>
            </e-columns>
        </ejs-treegrid>
        <app-column-form #columnForm></app-column-form>
    </section>
</div>
