<div class="control-section">
    <section #container>
        <ejs-treegrid
            *ngIf="!isLoading"
            #treegrid
            [dataSource]="rows"
            childMapping="subrows"
            [height]="windowHeight$ | async"
            [width]="windowWidth$ | async"
            allowSelection="true"
            enableInfiniteScrolling="true"
            [treeColumnIndex]="1"
            [pageSettings]="pageSettings"
            [editSettings]="editSettings"
            [selectionSettings]="selectionOptions"
            [contextMenuItems]="contextMenuItems"
            (contextMenuClick)="contextMenuClick($event)"
            (contextMenuOpen)="contextMenuBeforeOpen($event)"
            (queryCellInfo)="customizeSelf($event)"
        >
            <e-columns>
                <e-column
                    type='checkbox'
                    width='120'
                    field="checkbox"
                ></e-column>
                <e-column
                    field='index'
                    headerText='Row ID'
                    width='120'
                    textAlign='Right'
                    isPrimaryKey='true'
                ></e-column>

                <e-column
                  *ngFor="let column of columns"
                  [minWidth]='column.minWidth'
                  width=200
                  [field]='column.field'
                  [headerText]='column.name'
                  [textAlign]='column.alignment'
                  [format]="column.dataType === dataType.DATE && 'yMd'"
                >
                </e-column>
            </e-columns>
        </ejs-treegrid>
        <app-column-form #columnForm></app-column-form>
        <app-row-form #rowForm></app-row-form>
    </section>
</div>
