/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-treegrid/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';


@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';


@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';


@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';


@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import '../node_modules/normalize.css';

html,
body,
#dialog-container {
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

#reactDialog {
  top: 30%;
}
.e-mastertext {
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.87;
  padding: 1em;
}

/* custom code start*/
.e-toolbar-item.e-ghidden .e-btn {
  background: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
  color: #212121;
}
.column-cell.column-cell {
  width: fit-content;
  width: -moz-fit-content;
  font-size: var(--cell-font-size);
  color: var(--cell-color) !important;
  background-color: var(--cell-bg-color);
  white-space: var(--cell-text-wrap) !important;
}

.column-cell:not(.e-selectionbackground) {
  color: var(--cell-color) !important;
  background-color: var(--cell-bg-color);
};

.header-cell {
  color: var(--cell-color) !important;
  background-color: var(--cell-bg-color) !important;
  & > div > span {
    font-size: var(--cell-font-size) !important;
  }
}

.header-cell:not(.e-selectionbackground) {
  color: var(--cell-color) !important;
  background-color: var(--cell-bg-color) !important;
};

#_gridcontrol {
  width: auto !important;
}

.e-grid .e-rowcell.e-removewrap {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.e-filterbar {
  pointer-events: var(--filterbar-pointer-events) !important;
}

.copied-cutted-row {
  background-color: #FFC0CB !important;
}

.e-treegrid .e-row {
  height: 2em;
}
.column-dialog {
  top: 50% !important;
  transform: translateY(-50%);
  max-height: 50% !important;
}
